body {
    background-image: linear-gradient(
        to bottom,
        rgba(245, 245, 220, 0.3),
        rgba(245, 245, 220, 1)),
        url(../images/img_background.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    position: relative;
    
}

#home {
    margin-top: 8rem;
    padding: 0rem;
    margin-right: 9rem;
}

#homeimage {
    margin-right: 1rem;
    width: 20vw;
    border-radius: 1rem;
    display: flex;
}

#about {
    margin-top: 8rem;
    padding: 0rem;
    margin-right: 9rem;
}
#aboutimage {
    margin-right: 1rem;
    width: 20vw;
    border-style: hidden;
    border-radius: 1rem;
    display: flex;
}
.project-wrapper--flex {
    margin-top: 5rem;
    width: 100vw;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.project-wrapper--flex > .project__card--flex {
    margin: 3rem;
}
.project__card--flex {
    width: 16rem;
}

#contact {
    margin-top: 6rem;
    margin-bottom: 5rem;
}